<section class="discount">
    <h2 class="discount-popular__products">Discount products</h2>
    <ul class="discount__list">
        <!-- <li class="discount__item">
            <a class="discount__link" href="#">
                <div class="discount__image">
                    <img class="discount__image-photo-js" src="" alt="" />
                </div>
                <div class="discount__descr">
                    <p>Dark Chocolate</p>
                    <div class="discount__price-container">
                        <p class="discount__price">$6.99</p>
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </div>
                </div>
            </a>
        </li> -->
    </ul>
</section>
