<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="logo" href="./">
                <span class="logo__button">
                    <svg class="logo__icon">
                        <use href="./img/icons.svg#icon-logo"></use>
                    </svg>
                </span>
                Food Boutique
            </a>
            <nav>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="./"> Home </a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="./cart-main.html">
                            <span
                                class="header__menu-link-button"
                            >
                                <svg class="header__menu-link-icon">
                                    <use href="./img/icons.svg#icon-cart"></use>
                                </svg>
                            </span>
                            <span class="header__menu-link-counter">
                                Cart (<span class="cart-quantity header__menu-link-quantity"
                                    >0</span
                                >)
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
