<section class="popular__products">
    <h2 class="discount-popular__products">Popular products</h2>
    <ul class="cards popular__card">
        <li class="cards__item popular__item">
            <a class="popular__link" href="#">
                <div class="cards__background-img popular__img">
                    <img class="popular__image-photo-js" src="" alt="" />
                </div>
                <div class="popular__card-description">
                    <h4 class="cards__title">Ackee</h4>
                    <ul class="cards__info popular__info">
                        <li class="cards__info-item popular__info-up">
                            <p class="cards__info-title">Category:</p>
                            <p class="cards__info-value">Fresh Produce</p>
                        </li>
                        <li class="popular__info-down">
                            <div class="cards__info-item">
                                <p class="cards__info-title">Size:</p>
                                <p class="cards__info-value">16 oz</p>
                            </div>
                            <div class="cards__info-item">
                                <p class="cards__info-title">Popularity:</p>
                                <p class="cards__info-value">3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="popular__card-button" type="button">
                    <svg class="popular__icon__cart">
                        <use href="./img/icons.svg#icon-cart"></use>
                    </svg>
                </button>
            </a>
        </li>
    </ul>
</section>
