<div class="products__main">
    <!-- ----------------FILTERS---------------- -->
    <div class="products__filters">
        <p class="products__filters-title">Filters:</p>
        <ul class="products__filters-list">
            <li class="products__filters-item">
                <input
                    class="products__filters-input input"
                    type="search"
                    name="search"
                    placeholder="Search for anything"
                />
                <svg class="icon-search">
                    <use href="./img/icons.svg#icon-search"></use>
                </svg>
            </li>
            <li class="products__filters-item">
                <select
                    class="products__filters-select input"
                    name="categories"
                >
                    <option selected>Categories</option>
                </select>
            </li>
            <li class="products__filters-item">
                <select class="products__filters-select input" name="sort">
                    <option selected>A to Z</option>
                </select>
            </li>
        </ul>
    </div>

    <!-- ------------- PRODUCT CARDS------------- -->
    <div class="product__cards">
        <ul class="cards">
            <li class="cards__item">
                <div class="cards__background-img">
                    <img class="cards__image-photo-js" src="" alt="" />
                </div>
                <h4 class="cards__title">Avocado</h4>
                <ul class="cards__info">
                    <li class="cards__info-item">
                        <p class="cards__info-title">Category:</p>
                        <p class="cards__info-value">Fresh Produce</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Size:</p>
                        <p class="cards__info-value">Each</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Popularity:</p>
                        <p class="cards__info-value">0</p>
                    </li>
                </ul>
                <div class="cards__main">
                    <p class="cards__price">$1.99</p>
                    <button class="cards__button" type="button">
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="cards__item">
                <div class="cards__background-img">
                    <img class="cards__image-photo-js" src="" alt="" />
                </div>
                <h4 class="cards__title">Avocado</h4>
                <ul class="cards__info">
                    <li class="cards__info-item">
                        <p class="cards__info-title">Category:</p>
                        <p class="cards__info-value">Fresh Produce</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Size:</p>
                        <p class="cards__info-value">Each</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Popularity:</p>
                        <p class="cards__info-value">0</p>
                    </li>
                </ul>
                <div class="cards__main">
                    <p class="cards__price">$1.99</p>
                    <button class="cards__button" type="button">
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="cards__item">
                <div class="cards__background-img">
                    <img class="cards__image-photo-js" src="" alt="" />
                </div>
                <h4 class="cards__title">Avocado</h4>
                <ul class="cards__info">
                    <li class="cards__info-item">
                        <p class="cards__info-title">Category:</p>
                        <p class="cards__info-value">Fresh Produce</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Size:</p>
                        <p class="cards__info-value">Each</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Popularity:</p>
                        <p class="cards__info-value">0</p>
                    </li>
                </ul>
                <div class="cards__main">
                    <p class="cards__price">$1.99</p>
                    <button class="cards__button" type="button">
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="cards__item">
                <div class="cards__background-img">
                    <img class="cards__image-photo-js" src="" alt="" />
                </div>
                <h4 class="cards__title">Avocado</h4>
                <ul class="cards__info">
                    <li class="cards__info-item">
                        <p class="cards__info-title">Category:</p>
                        <p class="cards__info-value">Fresh Produce</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Size:</p>
                        <p class="cards__info-value">Each</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Popularity:</p>
                        <p class="cards__info-value">0</p>
                    </li>
                </ul>
                <div class="cards__main">
                    <p class="cards__price">$1.99</p>
                    <button class="cards__button" type="button">
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="cards__item">
                <div class="cards__background-img">
                    <img class="cards__image-photo-js" src="" alt="" />
                </div>
                <h4 class="cards__title">Avocado</h4>
                <ul class="cards__info">
                    <li class="cards__info-item">
                        <p class="cards__info-title">Category:</p>
                        <p class="cards__info-value">Fresh Produce</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Size:</p>
                        <p class="cards__info-value">Each</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Popularity:</p>
                        <p class="cards__info-value">0</p>
                    </li>
                </ul>
                <div class="cards__main">
                    <p class="cards__price">$1.99</p>
                    <button class="cards__button" type="button">
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="cards__item">
                <div class="cards__background-img">
                    <img class="cards__image-photo-js" src="" alt="" />
                </div>
                <h4 class="cards__title">Avocado</h4>
                <ul class="cards__info">
                    <li class="cards__info-item">
                        <p class="cards__info-title">Category:</p>
                        <p class="cards__info-value">Fresh Produce</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Size:</p>
                        <p class="cards__info-value">Each</p>
                    </li>
                    <li class="cards__info-item">
                        <p class="cards__info-title">Popularity:</p>
                        <p class="cards__info-value">0</p>
                    </li>
                </ul>
                <div class="cards__main">
                    <p class="cards__price">$1.99</p>
                    <button class="cards__button" type="button">
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <!-- ----------------PAGINATION---------------- -->

    <div class="products__pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>

    <!-- ----------------POPULAR---------------- -->

    <div class="popular__products">
        <ul class="cards popular__card">
            <li class="cards__item popular__item">
                <div class="cards__background-img popular__img">
                    <img class="popular__image-photo-js" src="" alt="" />
                </div>
                <div class="popular__card-description">
                    <h4 class="cards__title">Ackee</h4>
                    <ul class="cards__info popular__info">
                        <li class="cards__info-item popular__info-up">
                            <p class="cards__info-title">Category:</p>
                            <p class="cards__info-value">Fresh Produce</p>
                        </li>
                        <li class="popular__info-down">
                            <div class="cards__info-item">
                                <p class="cards__info-title">Size:</p>
                                <p class="cards__info-value">16 oz</p>
                            </div>
                            <div class="cards__info-item">
                                <p class="cards__info-title">Popularity:</p>
                                <p class="cards__info-value">3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="popular__card-button" type="button">
                    <svg class="popular__icon__cart">
                        <use href="./img/icons.svg#icon-cart"></use>
                    </svg>
                </button>
            </li>
            <li class="cards__item popular__item">
                <div class="cards__background-img popular__img">
                    <img class="popular__image-photo-js" src="" alt="" />
                </div>
                <div class="popular__card-description">
                    <h4 class="cards__title">Ackee</h4>
                    <ul class="cards__info popular__info">
                        <li class="cards__info-item popular__info-up">
                            <p class="cards__info-title">Category:</p>
                            <p class="cards__info-value">Fresh Produce</p>
                        </li>
                        <li class="popular__info-down">
                            <div class="cards__info-item">
                                <p class="cards__info-title">Size:</p>
                                <p class="cards__info-value">16 oz</p>
                            </div>
                            <div class="cards__info-item">
                                <p class="cards__info-title">Popularity:</p>
                                <p class="cards__info-value">3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="popular__card-button" type="button">
                    <svg class="popular__icon__cart">
                        <use href="./img/icons.svg#icon-cart"></use>
                    </svg>
                </button>
            </li>
            <li class="cards__item popular__item">
                <div class="cards__background-img popular__img">
                    <img class="popular__image-photo-js" src="" alt="" />
                </div>
                <div class="popular__card-description">
                    <h4 class="cards__title">Ackee</h4>
                    <ul class="cards__info popular__info">
                        <li class="cards__info-item popular__info-up">
                            <p class="cards__info-title">Category:</p>
                            <p class="cards__info-value">Fresh Produce</p>
                        </li>
                        <li class="popular__info-down">
                            <div class="cards__info-item">
                                <p class="cards__info-title">Size:</p>
                                <p class="cards__info-value">16 oz</p>
                            </div>
                            <div class="cards__info-item">
                                <p class="cards__info-title">Popularity:</p>
                                <p class="cards__info-value">3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="popular__card-button" type="button">
                    <svg class="popular__icon__cart">
                        <use href="./img/icons.svg#icon-cart"></use>
                    </svg>
                </button>
            </li>
            <li class="cards__item popular__item">
                <div class="cards__background-img popular__img">
                    <img class="popular__image-photo-js" src="" alt="" />
                </div>
                <div class="popular__card-description">
                    <h4 class="cards__title">Ackee</h4>
                    <ul class="cards__info popular__info">
                        <li class="cards__info-item popular__info-up">
                            <p class="cards__info-title">Category:</p>
                            <p class="cards__info-value">Fresh Produce</p>
                        </li>
                        <li class="popular__info-down">
                            <div class="cards__info-item">
                                <p class="cards__info-title">Size:</p>
                                <p class="cards__info-value">16 oz</p>
                            </div>
                            <div class="cards__info-item">
                                <p class="cards__info-title">Popularity:</p>
                                <p class="cards__info-value">3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="popular__card-button" type="button">
                    <svg class="popular__icon__cart">
                        <use href="./img/icons.svg#icon-cart"></use>
                    </svg>
                </button>
            </li>
            <li class="cards__item popular__item">
                <div class="cards__background-img popular__img">
                    <img class="popular__image-photo-js" src="" alt="" />
                </div>
                <div class="popular__card-description">
                    <h4 class="cards__title">Ackee</h4>
                    <ul class="cards__info popular__info">
                        <li class="cards__info-item popular__info-up">
                            <p class="cards__info-title">Category:</p>
                            <p class="cards__info-value">Fresh Produce</p>
                        </li>
                        <li class="popular__info-down">
                            <div class="cards__info-item">
                                <p class="cards__info-title">Size:</p>
                                <p class="cards__info-value">16 oz</p>
                            </div>
                            <div class="cards__info-item">
                                <p class="cards__info-title">Popularity:</p>
                                <p class="cards__info-value">3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="popular__card-button" type="button">
                    <svg class="popular__icon__cart">
                        <use href="./img/icons.svg#icon-cart"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <!-- ----------------DISCOUNT---------------- -->

    <div class="discount">
        <picture>
            <source />
        </picture>
        <h2 class="discount-popular__products">Discount products</h2>
        <ul class="discount__list">
            <li class="discount__item">
                <div class="discount__image">
                    <img class="discount__image-photo-js" src="" alt="" />
                </div>
                <div class="discount__descr">
                    <p>Dark Chocolate</p>
                    <div class="discount__price-container">
                        <p class="discount__price">$6.99</p>
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="discount__item">
                <div class="discount__image">
                    <img class="discount__image-photo-js" src="" alt="" />
                </div>
                <div class="discount__descr">
                    <p>Dark Chocolate</p>
                    <div class="discount__price-container">
                        <p class="discount__price">$6.99</p>
                        <svg class="icon__cart">
                            <use href="./img/icons.svg#icon-cart"></use>
                        </svg>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
