<section class="products">
    <div class="container">
        <div class="products__wrapper">
            <load ="partials/products-main.html" />
            <aside class="aside">
                <load ="partials/popular.html" />
                <load ="partials/discount.html" />
            </aside>
        </div>
    </div>

    <aside class="popular__discount__section">
        <div class="popular__products"></div>

        <div class="discount__products"></div>
    </aside>
    <div class="filters__section"></div>
</section>
