<div class="products__main">
    <!-- ----------------FILTERS---------------- -->
    <div class="products__filters">
        <p class="products__filters-title">Filters:</p>
        <ul class="products__filters-list">
            <li class="products__filters-item">
                <form class="products__filters-form">
                    <input
                        class="products__filters-input input"
                        type="search"
                        name="search"
                        placeholder="Search for anything"
                    />
                    <button class="products__filters-button" type="submit">
                        <svg class="icon-search">
                            <use href="./img/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                </form>
            </li>
            <li class="products__filters-item">
                <select
                    class="products__filters-select input"
                    name="categories"
                >
                    <option selected value="Show All">Show all</option>;
                </select>
            </li>
            <li class="products__filters-item">
                <select class="products__filters-select input" name="sort">
                    <option selected>A to Z</option>
                </select>
            </li>
        </ul>
    </div>

    <!-- ------------- PRODUCT CARDS------------- -->
        <ul class="cards">
        </ul>

    <!-- ----------------PAGINATION---------------- -->

    <div class="products__pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>
