.cart__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 30px;
    background: #6d8434;
}

.cart__title-thumb {
    display: flex;
    align-items: center;
    gap: 14px;
}

.cart__icon {
    width: 18px;
    height: 18px;
    fill: #e8e8e2;
}

.cart__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    text-transform: uppercase;
}

.cart__desctop-thumb {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.cart__added-list {
    width: 349px;
}

.cart__delete-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-left: auto;
    margin-right: 14px;
}

.cart__basket-list {
    max-height: 480px;
}

.cart__products-wrap {
    margin-top: 30px;
}

.cart__products {
    display: flex;
    flex-direction: column;
    max-height: 505px;
    padding-right: 32px;
}

.cart__products-item {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.cart__products-item:not(:last-child) {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.cart__item-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--light-grey);
}

.cart__item-img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.cart__item-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    margin-bottom: 10px;
}

.cart__item-descr {
    display: flex;
    gap: 8px;
    margin-bottom: 36px;
}

.cart__item {
    display: flex;
    gap: 4px;
}

.cart__item-name {
    color: rgba(1, 1, 1, 0.3);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
}

.cart__item-value {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
}

.cart__item-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__item-price {
    font-size: 18px;
    line-height: 1.11;
}

.cart__item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    padding: 4px 12px;
}

.cart__item-button {
    fill: transparent;
    stroke: var(--black);
}

.cart__item-button svg {
    width: 14px;
    height: 14px;
}

.cart__item-number {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.13;
}

.cart__item-close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.total__order-thumb {
    margin-top: 60px;
}

.your__order-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.total__price-thumb {
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(109, 132, 52, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 14px;
    margin-bottom: 30px;
}

.cart__total-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
}

.cart__sum {
    font-size: 12px;
    line-height: 1.17;
    color: rgba(1, 1, 1, 0.2);
}

.total__price {
    color: #010101;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    margin-left: 8px;
}

.cart__input-label {
    display: flex;
    gap: 14px;
}

.checkout__field {
    position: relative;
    margin-bottom: 80px;
}

.placeholder__prefix {
    position: absolute;
    left: 20px;
    top: 12px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(1, 1, 1, 0.5);
}

.cart__basket-input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 56px;
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.3);
    margin-bottom: 14px;
    font-size: 14px;
    width: 335px;
    background-color: #e8e8e2;
}

.cart__basket-input:is(:hover, :focus) {
    border: 1px solid #6d8434;
}

.cart__basket-input::placeholder {
    font-size: 14px;
    line-height: 1.29;
    color: #010101;
    font-weight: 400;
}

.cart__submit-button {
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #6d8434;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #e8e8e2;
    width: 100%;
}

.cart__submit-button:hover,
.cart__submit-button:focus {
    background-color: #6d8434;
    /* transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function); */
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 279px;
    margin: 105px auto 120px;
}

.empty__img {
    margin-bottom: 28px;
}

.empty__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    margin-bottom: 14px;
}

.empty__title-color {
    color: var(--green);
}

.empty__descr {
    color: rgba(1, 1, 1, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
}

@media screen and (max-width: 375px) {
    .cart__button {
        width: 30px;
        height: 30px;
    }
    .cart__icon {
        width: 14px;
        height: 14px;
    }
    .cart__title {
        font-size: 20px;
    }
    .cart__delete-button {
        margin-right: 0;
    }
    .cart__delete-icon {
        width: 20px;
        height: 20px;
    }
    .cart__products-wrap {
        margin-top: 10px;
    }
    .cart__products {
        max-height: 458px;
        padding-right: 10px;
    }
    .cart__products-item {
        gap: 15px;
        padding: 15px 0;
    }
    .cart__item-space {
        width: 80px;
        height: 80px;
    }
    .cart__item-img {
        width: 60px;
        height: 60px;
    }
    .cart__item-title {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .cart__item-descr {
        flex-direction: column;
        gap: 4px;
        margin-bottom: 6px;
    }
    .cart__item-main {
        gap: 76px;
    }
    .cart__item-price {
        font-size: 16px;
    }
    .cart__item-quantity {
        height: 22px;
        width: 58px;
        gap: 4px;
    }
    .cart__item-number {
        font-size: 14px;
    }
    .cart__item-close {
        right: 0;
    }
    .cart__item-icon {
        width: 18px;
        height: 18px;
    }
    .total__order-thumb {
        margin-top: 20px;
    }
    .your__order-title {
        margin-bottom: 20px;
    }
    .total__price-thumb {
        padding: 10px;
        margin-bottom: 20px;
    }
    .cart__total-title {
        font-size: 16px;
    }
    .total__price {
        font-size: 20px;
    }
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 9px !important;
}

.simplebar-scrollable-y .simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    opacity: 1;
    border-radius: 20px;
    background: rgba(1, 1, 1, 0.08);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;    
}



@media screen and (min-width: 768px) {
    .cart__icon {
        width: 18px;
        height: 18px;
    }
    .cart__added-list {
        width: 704px;
    }

    .cart__item-img {
        width: 72px;
        height: 72px;
    }

    .cart__title {
        font-size: 32px;
    }
    .cart__delete-button {
        margin-right: 32px;
        font-size: 16px;
    }
    .cart__products {
        max-height: 625px;
    }
    .cart__products-item {
        gap: 40px;
        padding: 40px 0;
    }
    .cart__item-close {
        top: 40px;
        right: 0px;
    }
    .cart__item-icon {
        width: 20px;
        height: 20px;
    }
    .cart__item-main {
        gap: 369px;
    }
    .cart__item-space {
        width: 120px;
        height: 120px;
    }
    .cart__item-title {
        font-size: 20px;
    }
    .cart__item-descr {
        margin-bottom: 44px;
        gap: 16px;
    }

    .cart__item-value {
        font-size: 14px;
    }
    .cart__item-price {
        font-size: 20px;
    }
    .cart__item-quantity {
        height: 34px;
        width: 96px;
        gap: 8px;
    }
    .cart__item-button svg {
        height: 18px;
        width: 18px;
    }
    .cart__item-number {
        font-size: 20px;
    }

    .your__order-title {
        font-size: 32px;
    }
    .total__price-thumb {
        max-width: 590px;
    }
    .cart__total-title {
        font-size: 20px;
    }
    .total__price {
        font-size: 32px;
    }
    .checkout__field {
        margin-bottom: 100px;
        min-width: 590px;
        display: flex;
        gap: 16px;
    }
    .cart__input-label {
        height: 54px;
        margin-bottom: 0;
    }
    .placeholder__prefix {
        font-size: 18px;
        top: 15px;
        bottom: 15px;
    }
    .cart__basket-input {
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 63px;
        margin-bottom: 0;
        width: 359px;
    }
    .cart__basket-input::placeholder {
        font-size: 18px;
    }

    .cart__submit-button {
        font-size: 20px;
        width: 215px;
        height: 54px;
    }
    .empty__title {
        font-size: 20px;
    }
    .empty__descr {
        font-size: 18px;
    }
}

@media screen and (min-width: 1304px) {
    .cart__products {
        max-width: 549px;
        width: 100%;
    }
    .cart__button {
        width: 42px;
        height: 42px;
    }

    .cart__products-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    .total__order-thumb {
        margin-top: 40px;
    }
    .cart__delete-button {
        margin-bottom: 0;
        margin-left: 404px;
    }
    .cart__item-main {
        gap: 197px;
    }
    .cart__item-info {
        width: 340px;
    }
}
