.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Quincy CF';
    font-size: 18px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.02em;
}

.logo__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #6d8434;
    border-radius: 50%;
    fill: #e8e8e2;
}

.logo__icon {
    width: 16px;
    height: 16px;
}
body.modal-open {
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .logo {
        font-size: 24px;
    }

    .logo__button {
        width: 32px;
        height: 32px;
    }

    .logo__icon {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 1304px) {
    .container {
        max-width: 1304px;
    }
}
