.header {
    padding: 18px 0 72px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__menu-item:first-child {
    color: #e8e8e2;
    font-size: 14px;
    line-height: 1.29;
    border-radius: 30px;
    background-color: #6d8434;
    padding: 6px 15px;
}

.header__menu-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #6d8434;
}

.header__menu-link-icon {
    width: 14px;
    height: 14px;
    fill: #e8e8e2;
}

.header__menu-link-counter {
    display: none;
}

@media screen and (min-width: 375px) {
    .header__menu-item:first-child {
        padding: 10px 20px;
    }

    .header__menu-link-button {
        width: 38px;
        height: 38px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 24px 0 104px;
    }

    .header__menu {
        gap: 16px;
    }

    .header__menu-link {
        display: flex;
        gap: 14px;
        flex-direction: row;
        align-items: center;
    }

    .header__menu-item:first-child {
        font-size: 18px;
        padding: 12px 28px;
    }
    .header__menu-link-icon {
        width: 18px;
        height: 18px;
    }

    .header__menu-link-counter {
        display: flex;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.33; /* 133.333% */
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1240px) {
    .header {
        padding: 32px 0 85px;
    }

    .header__menu {
        gap: 24px;
    }
}
