.hero__head {
    max-width: 292px;
    text-align: center;
    margin: 0 auto 32px;
}

.hero__title {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.09;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
}

.hero__title-color {
    color: #6d8434;
}

.hero__descr {
    color: rgba(1, 1, 1, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
}

.hero__img {
    position: relative;
}

.hero__img-photo {
    border-radius: 30px;
}

.hero__label {
    position: absolute;
    top: -7px;
    right: 8px;
}

@media screen and (min-width: 375px) {
    .hero__title {
        font-size: 44px;
    }
}

@media screen and (min-width: 768px) {
    .hero__head {
        max-width: 658px;
        text-align: center;
        margin: 0 auto 40px;
    }
    .hero__title {
        font-size: 80px;
        margin-bottom: 20px;
    }
    .hero__descr {
        color: rgba(1, 1, 1, 0.8);
        text-align: center;
        font-size: 18px;
        line-height: 1.33;
        max-width: 492px;
        margin: 0 auto;
    }
    .hero__label {
        top: -30px;
        right: 10px;
    }
}
@media screen and (min-width: 1240px) {
    .hero__head {
        max-width: 1042px;
    }
    .hero__title {
        line-height: 1;
    }
    .hero__label {
        top: -50px;
        right: 20px;
    }
}
