.modal {
    width: 600px;
    height: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
}

/* Image container */
.modal .cards__image-container {
    width: 240px;
    height: 212px;
    background-color: #e8e8e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    padding: 40px;
}

.cards__image-photo {
    width: 160px;
    height: 160px;
    background: #e8e8e2;
}

.cards__title {
    text-align: center;
}
