.modal__item {
    width: 335px;
    height: auto;
    border-radius: 20px;
    background: var(--light-grey);
    padding: 40px 20px;
}

.cards__image-photo {
    padding: 26px 68px;
    width: 295px;
    height: 212px;
    border-radius: 10px;
    background: var(--grey);
}

.cards__main.up {
    padding-top: 20px;
}

.modal__info {
    padding-bottom: 20px;
}

.cards__desc-modal {
    margin-bottom: 40px;
    overflow-y: auto;
    max-height: 280px;
}

.add__to-button {
    width: 116px;
    height: 42px;
    padding: 24px 12px;
    color: var(--light-grey);
    gap: 10px;
}

.modal__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    row-gap: 9px;
}
