.modal__item {
    width: 335px;
    height: auto;
    border-radius: 20px;
    background: var(--light-grey);
    padding: 40px 20px;
}

.cards__image-photo {
    padding: 26px 68px;
    width: 295px;
    height: 212px;
    border-radius: 10px;
    background: var(--grey);
    margin-bottom: 20px;
}

.modal__info {
    padding-bottom: 20px;
}

.cards__desc-modal {
    color: rgba(1, 1, 1, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: 40px;
    overflow-y: auto;
    max-height: 72px;
}

.add__to-button {
    padding: 12px 24px;
    color: var(--light-grey);
    gap: 10px;
}

.add__to-button.cards__button {
    width: auto;
    height: auto;
}

.modal__info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 20px;
}

.modal__item-close {
    position: absolute;
    top: 14px;
    right: 14px;
}

.modal__item .simplebar-track.simplebar-vertical {
    top: 0;
    width: 5px !important;
}

.modal__item .simplebar-content-wrapper {
    padding-right: 10px;
}
